table.ui-datepicker-calendar { display:none; }
table{box-sizing: border-box; border-collapse: collapse; background-color: #ffffff; box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);}
div.ui-datepicker-header 
a.ui-datepicker-prev,div.ui-datepicker-header 
a.ui-datepicker-next{display: none;}
div#ui-datepicker{
	border: none;
	background: none;
}
div.ui-datepicker,div.ui-datepicker-header{
    background: rgba(255, 255, 255, 0.6);
    border: none;
}
thead{
  background: linear-gradient(to bottom, rgb(250, 251, 253) 0%,rgba(255,255,255,0) 100%);
}
.calendar_head{
  display: flex;
  justify-content: center;
  align-items: baseline;
}
button.datepicker{
  border: none;
  background: none;
  margin-left: 8px;
}
button.month_button{
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 600;
}
.month_string{
  font-size: 18px;
  font-weight: 600;
}
.year_value{
  font-size: 13px;
  font-weight: 500;
  color: rgba(#51565d, .4);
}
.day{
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
}
.dateDiv{
  text-align: right;
  letter-spacing: 1px;
  font-size: 12px;
  color: #98a0a6;
  min-width: 100px; width: 180px; 
  min-height: 80px; height: 130px; 
  overflow: hidden;
}
.dateTd_disabled{
  color: rgba(#98a0a6, 0.6);
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}
.sun{
  color: rgb(255, 80, 80);
}
.sat{
  color: rgb(70, 70, 250);
}
th,td{
  border-bottom: 1px solid rgba(166, 168, 179, 0.12); 
  border-right: 1px solid rgba(166, 168, 179, 0.12);
}
th,td:nth-of-type(7n + 7){
  border-right: 0;
}
span.icAmount{
  color: rgb(70, 70, 250);
}
span.ecAmount{
  color: rgb(255, 80, 80);
}