@charset "UTF-8";
h3{text-align: center;}
span.dateSpan{display: block;}
.income{color: blue;}
.expense{color: red;}
/*상세내역 리스트들 정리하기*/
div.detailDateDiv{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
div.detailSumI{margin-left: auto;}
div.detailSumE{margin-left: auto;}
div.detailItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.topmenu{position:absolute;top:0px; width:100%; background-color: white;}
div.basic{position:absolute;left:0px;top:10px; width:25%;}
div.statistics{position:absolute;left:25%;top:10px; width:25%;}
div.assest{position:absolute;left:50%;top:10px; width:25%;}
div.board{position:absolute;right:0px;top:10px; width:25%;}