@charset "UTF-8";
.modal{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* 모달 컨텐츠 div를 화면의 가운데에 정렬시키기 위해 모달 div를 flex-box로 설정. 내부 콘텐츠 가운데 정렬해주기 */
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_overlay{
  background-color: rgba(0, 0, 0, 0.6); /* 모달 창이 열렸을때 외부를 감싸줄 div 컬러를 투명하게 설정해놓자 */
  width: 100%;
  height: 100%;
  position: absolute; /* 포지션 abosolute로 해줘서 전체 화면을 감싸도록 해주기 */
}
.modal_content{
  background-color: #f5f5f5;
  position: relative;
  width: 500px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
/* 평소엔 모달창을 숨겨주기 위해 display를 none으로 숨겨주고, modal open이벤트 발생 시 이 클래스를 없애주자. */
.hidden{display: none;}
.update_form_container{
  display: grid;
  grid-template-rows: repeat(7, 1fr);
}
.update_category>input,.update_date>input,.update_assets>select,.update_expense_category>select,.update_amount>input,.update_memo>input{
  background: none;
  border-bottom: 1px solid #9298a0;
  width: calc(100% - 60px);
  height: 40px;
  text-align: center;
}
.update_category,.update_date,.update_assets,.update_expense_category,.update_amount,.update_memo,.update_button{
  align-self: center;
  height: 44px;
}
.update_button>button{
  width: 80px; height: 30px;
  border: 1px solid #9298a0;
  border-radius: 3px;
  background: linear-gradient(to bottom, #51565d 0%, #9298a0 100%);
  font-weight: 500;
  color: #ffffff;
  font-size: 100%;
  text-align: center;
  line-height: 30px;
}
.update_category{grid-row: 1/2; align-self: center; justify-self: center;}
.update_date{grid-row: 2/3;}
.update_assets{grid-row: 3/4;}
.update_expense_category{grid-row: 4/5;}
.update_amount{grid-row: 5/6;}
.update_memo{grid-row: 6/7;}
.update_button{grid-row: 7/8; text-align: center; align-self: center; justify-items: center;}
.update_button>button{
	width: calc(100% / 4 - 2rem);
}
/* 창 줄어들 시에 생기는 인서트창 모달 관련 css */
.insert_modal_overlay{
	background-color: rgba(0, 0, 0, 0.6); /* 모달 창이 열렸을때 외부를 감싸줄 div 컬러를 투명하게 설정해놓자 */
  width: 100%;
  height: 100%;
  position: absolute; /* 포지션 abosolute로 해줘서 전체 화면을 감싸도록 해주기 */
}
.show_insert_modal{
	width: 50px; height: 50px;
	border-radius: 90%;
	background: linear-gradient(to bottom, #ffcccc 0%, #ffe6e6 100%);
	font-size: 2rem;
	font-weight: 600;
	position: fixed;
	top: 83%;
	left: 90%;
	box-shadow: 0 5px 20px 0 #51565d;
}