<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- <setting name="useGeneratedKeys" value="true"/> -->
	</settings>
	<typeAliases>
		<typeAlias type="dto.Assets" alias="assets" />
		<typeAlias type="dto.Expense" alias="expense" />
		<typeAlias type="dto.AssetOfMember" alias="assetOfMember" />
		<typeAlias type="dto.ExpenseCategory" alias="expenseCategory" />
		<typeAlias type="dto.Income" alias="income" />
		<typeAlias type="dto.IncomeCategory" alias="incomeCategory" />
		<typeAlias type="dto.Member" alias="member" />
		<typeAlias type="dto.DailyExpense" alias="DExpense" />
		<typeAlias type="dto.DailyIncome" alias="DIncome" />
		<typeAlias type="dto.Board" alias="Board" />
		<typeAlias type="dto.main.MemberIncomeIncomeCategory" alias="MIIC"/>
		<typeAlias type="dto.main.MemberExpenseExpenseCategory" alias="MEEC"/>
		<typeAlias type="dto.main.IncomeIncomeCategoryAssets" alias="IICA"/>
		<typeAlias type="dto.main.ExpenseExpenseCategoryAssets" alias="EECA"/>
		<typeAlias type="dto.main.IncomeCategory" alias="IC"/>
		<typeAlias type="dto.main.ExpenseCategory" alias="EC"/>
		<typeAlias type="dto.main.AssetsAssetsOfMember" alias="AAOM"/>
		<typeAlias type="dto.main.IncomeUpdate" alias="IncomeUpdate"/>
		<typeAlias type="dto.main.AssetsOfMember" alias="AOM"/>
		<typeAlias type="dto.main.Expense" alias="Expense"/>
	</typeAliases>

</configuration>