<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- <setting name="useGeneratedKeys" value="true"/> -->
	</settings>
	<typeAliases>
		<typeAlias type="dto.Assets" alias="assets" />
		<typeAlias type="dto.Expense" alias="expense" />
		<typeAlias type="dto.AssetOfMember" alias="assetOfMember" />
		<typeAlias type="dto.ExpenseCategory" alias="expenseCategory" />
		<typeAlias type="dto.Income" alias="income" />
		<typeAlias type="dto.IncomeCategory" alias="incomeCategory" />
		<typeAlias type="dto.Member" alias="member" />
		<typeAlias type="dto.DailyExpense" alias="DExpense" />
		<typeAlias type="dto.DailyIncome" alias="DIncome" />
		<typeAlias type="dto.Board" alias="Board" />
		
	</typeAliases>

</configuration>