<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.main.MainUpdateMapper">
	<update id="updateIncomeByIncomeId" parameterType="IncomeUpdate">
		UPDATE tp.income SET amount=#{amount}, income_date=#{incomeDate}, 
		assets_id=#{assetsId}, ic_id=#{icId}, memo=#{memo} 
		WHERE income_id=#{incomeId}
	</update>
	
	<select id="selectSUMINCOMEByUserKeyAndAssetsId" resultType="int">
		SELECT SUM(amount) FROM income WHERE user_key=#{userKey} AND assets_id=#{assetsId}
	</select>
	
	<select id="selectSUMExpenseByUserKeyAndAssetsId" resultType="int">
		SELECT SUM(amount) FROM expense WHERE user_key=#{userKey} AND assets_id=#{assetsId}
	</select>
	
	<update id="updateAOMByMemAssetId">
		UPDATE tp.assets_of_member SET amount=#{amount} 
		WHERE mem_asset_id=#{memAssetId}
	</update>
	
	<delete id="deleteIncomeByIncomeId">
		DELETE FROM tp.income WHERE income_id=#{incomeId}
	</delete>
	
	<insert id="insertExpense" parameterType="Expense">
		INSERT INTO tp.expense(user_key, amount, expense_date, assets_id, ec_id, memo) 
		VALUES(#{userKey}, #{amount}, #{expenseDate}, #{assetsId}, #{ecId}, #{memo})
	</insert>
</mapper>