@charset "UTF-8";
*{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.wrapper{
	background-color: #f5f5f5;
	display:grid;
	height:100%;	
	width:100%;
	min-width: 900px;	
	min-height: 900px;	
	/* margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; */
     grid-template-rows:
  [first]10%
  [second]90%;
  grid-template-columns: 
  [c1]10%
  [c2]80%
  [c3]10%;
   grid-template-areas:
  "top top top "
  "l_blank content r_blank" ;
}
.topmenu{grid-area: top; background-color: MistyRose; min-width: 900px;}
/* div.basic{position:absolute;left:0px;top:20px; width:25%;}
div.statistics{position:absolute;left:25%;top:20px; width:25%;}
div.assest{position:absolute;left:50%;top:20px; width:25%;}
div.board{position:absolute;right:0px;top:20px; width:25%;}
.gomypage{position: relative; top:0px; left:80%;}
.gologout{position: relative; top:0px; left:80%;} */
a{text-decoration: none;color:#51565d;}
table{min-width: 600px; width:100%;}
th{text-align: center; height:35px;}
#middlecontent{grid-area:content;}
.udbutton{position: relative;
    left: 320px; width: 200px;}
.writeboardcontent{width: 450px;}
.boardlisttwo{position: relative; top: 15px;}
.showboardList{position: relative; top: 25px; border: 1px solid lightgrey;}