@charset "UTF-8";
*{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body{background-color: #f5f5f5; scroll:yes;overflow-y:scroll; }
.wrapper{
	background-color: #f5f5f5;
	display:grid;
	height:100%;	
	width:100%;
	min-width: 700px;	
     grid-template-rows:
  [first]100px
  [second]90%;
  grid-template-columns: 
  [c1]10%
  [c2]80%
  [c3]10%;
   grid-template-areas:
  "top top top "
  "l_blank content r_blank" ;
}
.topmenu{grid-area: top; min-width: 700px;}
.gologin{font-size: 100%; text-shadow: none; grid-column: 6/7;
	color: black;
	grid-row: 2/3; 
	justify-self: center; 
	place-self: center; 
	font-weight: 500;
	background-color: #ffcccc; height: 21px;
}
a{text-decoration: none;color:#51565d;}
table{border-collapse:collapse; min-width: 600px; width:100%;}
td.boardtitlehead{height: 40px; border-bottom:1px solid #9298a0;
	font-size: 20px; color:#51565d; line-height: 40px; 
	font-family: Montserrat, "sans-serif";}

td.boardcontent{background:white; min-height: 500px;border-bottom:1px solid #dddddd; width:100%}
div.contentdiv{min-height: 250px;margin: 9px 10px;max-width:100%;
	overflow: hidden;}
div.commentcontent{display: inline-block; word-break: break-all; overflow-wrap: break-word;}
pre{word-break: break-all; overflow-wrap: break-word; width:100%;
	white-space: pre-wrap;}
button.commentmorebutton{width: 100%; height: 30px; line-height: 30px;
    color: #885b5b; font-weight: 600;}




th{text-align: center; height:35px;}
div.board{text-shadow: 2px 1px 0 #f5f5f5;
	text-decoration: underline;
	text-decoration-color: #51565d;}
#middlecontent{grid-area:content; position: relative; top: 20px;}
div.gotopdiv{grid-area:r_blank; position: relative;}
a.gotop{position: fixed;
    z-index: 100;
    right: 24px;
    bottom: 20px; }
.gotop::before{
	display: inline-block;
    width: 51px;
    height: 51px;
    content: '';
    vertical-align: top;
    background-position: -209px -218px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_main.44265f.png);
    background-repeat: no-repeat;
    background-size: 471px 442px;
	
}
.likeandcomment{position: relative;
    right: 5px; top:5px;
    text-align: right;margin-bottom: 5px;}

td.writeinfo{height: 35px; font-family: Montserrat, "sans-serif";
	font-size: 13px; color:#51565d; line-height: 30px; 
	}
	
.writeboardcontent,.commentupdatetextarea{width: 100%; padding: 5px;}
div.commentshow{border-bottom:1px dashed #dddddd; padding-bottom: 5px;
	width: 100%}
div.commentwritediv{position: relative; top:5px;}
div.commentListshow{font-family: Montserrat, "sans-serif";color:#51565d;
	position: relative;top: 10px;}
span.commnetregDate{font-size:13px;}

div.commentcontent{margin: 7px 30px 7px 2px; width:100%;}
span.commentwriter{font-weight: 700;}
input.regCommentsubmit{	
	cursor: pointer;
    border: 1px solid #d0aeae;    border-radius: 3px;
    color: #082b5a; font-weight: 600;
    height: 26px; line-height: 25px;
    width: 74px;
}
div.regcommentdiv{position: relative;
text-align: right;}
button.commentwriteshow{
	cursor: pointer;
    border: 1px solid #d0aeae;    border-radius: 3px;
    color: #082b5a; font-weight: 600;
    height: 26px; line-height: 25px;
    width: 74px;
}

input.updatecommentinput{
	cursor: pointer; height:25px; line-height:25px;
    border: 1px solid #9298a0; width: 70px;
    border-radius: 3px;
    background: linear-gradient(to bottom, #51565d 0%, #9298a0 100%);
    font-weight: 500; position:relative; top:5px;
    color: #ffffff;
    font-size: 95%;
    text-align: center;
}


div.udbutton{position: absolute; top: 45px; right: 4px;}
button.showboardList{position: relative; 
	width:60px; cursor: pointer;
    height: 25px; color: #082b5a;
    font-weight: 600;
    line-height: 25px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	}
button.boardupdate{cursor: pointer; height:25px; line-height:25px;
    border: 1px solid #9298a0; width: 35px;
    border-radius: 3px;
    background: linear-gradient(to bottom, #51565d 0%, #9298a0 100%);
    font-weight: 500; position:relative; left:-5px;
    color: #ffffff;
    font-size: 100%;
    text-align: center;
    }
button.boarddelete{cursor: pointer; height:25px; line-height:25px;
    border: 1px solid #9298a0; width: 35px;
    border-radius: 3px;
    background: linear-gradient(to bottom, #51565d 0%, #9298a0 100%);
    font-weight: 500;
    color: #ffffff;
    font-size: 100%;
    text-align: center;
    position: relative; left: -2px;
    }
button.commentupdate{background: white;cursor: pointer;
    border: 1px solid #afb7c1;
    width: 35px;
    font-size: 13px;
    border-radius: 10%;
    text-align: center;
    height: 20px;}
button.commentdelete{background: white;cursor: pointer;
	position: relative;left: 3px;
    border: 1px solid #afb7c1;
    width: 35px;
    font-size: 13px;
    border-radius: 10%;
    text-align: center;
    height: 20px;}


.boardlisttwo{position: relative; top: 15px; 
	margin: 10px 5px 20px 1px;}
div.beforeboard,div.nextboard{height: 25px;}

#counter,#counterupdate {
  background:rgba(255,0,0,0.5);
  border-radius: 0.5em;
  padding: 0 .5em 0 .5em;
  font-size: 0.75em;
}
	
	