@charset "UTF-8";
*{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.wrapper{
	background-color: #f5f5f5;
	display:grid;
	height:100%;	
	width:100%;
	min-width: 700px;	
	min-height: 900px;	
	/* margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; */
     grid-template-rows:
  [first]100px
  [second]90%;
  grid-template-columns: 
  [c1]10%
  [c2]80%
  [c3]10%;
   grid-template-areas:
  "top top top "
  "l_blank content r_blank" ;
}
.topmenu{grid-area: top; background-color: MistyRose; min-width: 700px;}
/* div.basic{position:absolute;left:0px;top:20px; width:25%;}
div.statistics{position:absolute;left:25%;top:20px; width:25%;}
div.assest{position:absolute;left:50%;top:20px; width:25%;}
div.board{position:absolute;right:0px;top:20px; width:25%;} */
a{text-decoration: none; color:#51565d;}
th,td{text-align: center;height:35px;}
div#boardcontent{grid-area: content; min-width:600px; position: relative;}
div.boardtitlehead{width:500px;}
/* .gomypage{position: relative; top:0px; left:80%;}
.gologout{position: relative; top:0px; left:80%;} */
.boardtitle{text-align: center; font-size: 50px; font-family: 'Lobster';}
.boardlist{position: relative; top: 20px; widht:100%}
#writeboard{top: 10px;
    left: 20px;
    position: relative;border: 1px solid lightgrey;}
.boardpagenation{position: absolute; width:100%;
	min-width:600px; text-align: center; top:500px;}
td.regDate{min-width: 153px;}
td.nocontent{height:350px; line-height: 350px;text-align: center;}    