@charset "UTF-8";
*{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body{background-color: #f5f5f5;}
.wrapper{
	background-color: #f5f5f5;
	display:grid;
	height:100%;	
	width:100%;
	min-width: 700px;		
	/* margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; */
     grid-template-rows:
  [first]100px
  [second]90%;
  grid-template-columns: 
  [c1]10%
  [c2]80%
  [c3]10%;
   grid-template-areas:
  "top top top "
  "l_blank content r_blank" ;
}
.topmenu{grid-area: top; min-width: 700px;}
div#boardcontent{font-family: Montserrat, "sans-serif"; } 
a{text-decoration: none; color:#51565d;}
table{border-collapse: collapse;width: 100%;}
th,td{text-align: center;}
th{line-height: 35px; font-weight: bold;border-bottom:1px solid black; }
td{height: 50px; line-height: 50px;border-bottom:1px solid #9298a0;}
div#boardcontent{grid-area: content; width:100%;min-width:600px; 
	position: relative; top:30px;}
div.boardtitlehead{width:500px; margin-bottom: 10px;}
div.board{text-shadow: 2px 1px 0 #f5f5f5;
	text-decoration: underline;
	text-decoration-color: #51565d;}

.boardtitle{text-align: center; font-size: 50px; font-family: 'Lobster';}
.boardpagenation{position: relative; width:100%;
	min-width:600px; text-align: center; top:10px; margin-bottom: 20px;}
td.regDate{min-width: 153px;}
td.nocontent{height:350px; line-height: 350px;text-align: center;}
.currentP{color:#fabfbf; font-weight: 500;}    
div.boardlistdiv{height: fit-content;}
div#writeBoarddiv{position: relative; top: 10px;}
button#writeBoard{width: 80px;
    height: 30px;
    border: 1px solid #9298a0;
    border-radius: 3px;
    background: linear-gradient(to bottom, #51565d 0%, #9298a0 100%);
    font-weight: 500;
    color: #ffffff;
    font-size: 100%;
    text-align: center;
    line-height: 30px;}
div.boardcontentinsidediv{position: relative;top: 10px;}
span.commentcount{font-weight: 600; color:#c55555;}