@charset "UTF-8";
*{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body{background-color: #f5f5f5;}
.wrapper{
	background-color: #f5f5f5;
	display:grid;
	height:100%;	
	width:100%;
	min-width: 700px;	
	min-height: 900px;	
	/* margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; */
     grid-template-rows:
  [first]100px
  [second]90%;
  grid-template-columns: 
  [c1]10%
  [c2]80%
  [c3]10%;
   grid-template-areas:
  "top top top "
  "l_blank content r_blank" ;
}
.topmenu{grid-area: top; min-width: 700px;}
a{text-decoration: none;color:#51565d;}
table{border-collapse:collapse; min-width: 600px; width:100%;}
td.boardtitlehead{height: 40px; border-bottom:1px solid #9298a0;
	font-size: 20px; color:#51565d; line-height: 40px; 
	font-family: Montserrat, "sans-serif";}
td.writeinfo{height: 30px; font-family: Montserrat, "sans-serif";
	font-size: 13px; color:#51565d; line-height: 25px; 
	}
td.boardcontent{background:white; min-height: 500px;border-bottom:1px solid #dddddd ;}
div.contentdiv{min-height: 250px;}
th{text-align: center; height:35px;}
div.board{text-shadow: 2px 1px 0 #f5f5f5;
	text-decoration: underline;
	text-decoration-color: #51565d;}
#middlecontent{grid-area:content; position: relative; top: 20px;}
.udbutton{position: relative;
    left: 320px; width: 200px;}
.writeboardcontent{width: 450px;}
div.commentshow{border-bottom:1px dotted #dddddd; padding-bottom: 5px;}
div.commentListshow{font-family: Montserrat, "sans-serif";color:#51565d;}
span.commnetregDate{font-size:13px;}
.boardlisttwo{position: relative; top: 15px;}
.showboardList{position: relative; top: 25px; border: 1px solid lightgrey;}