@charset "UTF-8";
*{
	background-color:#f5f5f5;
	margin: 0;

    padding: 0;

    border: 0;

    font-size: 100%;

    font: inherit;

    vertical-align: baseline;
    
    font-family: Montserrat, "sans-serif"; 
}

#join_container{
	display: grid;
 	height:100%;
  	width:100%;
  	grid-template-rows:
  	[first]100px
  	[second]830px;
  	grid-template-areas:
  	"top"
  	"main";
  	gap:0px;
}

#header{
	/* height: 100px; */
    background-color: #ffcccc;
    /* position: absolute; */
    /* top: 0; */
    line-height: 100px;
    /* left: 0; */
    /* right: 0; */
    grid-area: top;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    grid-row: 1;
    width:100%;
}

#join{
	grid-area: main;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}

#join_title{
	font-weight: 900;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
    margin:10px;
}

.join_form{
	padding-top: 26px;
	width: 100%;
    max-width: 768px;
    min-width: 500px;
  	/* border:1px solid black; */  
}

#id, #pass, #passck, #name, #email{
	display:block;
	padding:11px 0 7px;
	font-size:13px;
	line-height:18px;
	text-align:left;
	font-weight:700;
}

#id_input, #pass_input, #passck_input, #name_input, #email_input{
	width: 78%;
    border: 1px solid #ccc;
    padding: 14px 0 12px;
    font-size: 14px;
    line-height: 20px;
    color: #111;
    font-weight: 700;
    text-indent: 12px;
    border-radius: 3px;
}

#id_button, #email_button{
	width: 20%;
    border:1px solid #fecdcd;
    padding: 14px 0 12px;
    font-size: 14px;
    line-height: 20px;
    color: #ffcccc;
    background-color: #f8f8f8;
    font-weight: 700;
    /* text-indent: 12px; */
    border-radius: 3px;
}

.button{
	margin: 6.08% 0 0;
}

#search{
	background-color: #ffcccc;
    text-decoration: none;
    margin: 18px 0 0;
    display: block;
    border: 1px solid #fecdcd;
    color: white;
    padding: 16px 17px;
    font-size: 17px;
    line-height: 20px;
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin: 18px 0 0;
    text-align: center;
    width:100%;
    border-radius: 3px;
    font-weight: 700;
}

#idtext, #passtext, #passchtext, #nametext, #emailtext{
	color:red;
	padding-top: 10px;
    padding-left: 5px;
}