@charset "UTF-8";
@import url("/css/anim4-v.css");
*{
	background-color:#f5f5f5;
	margin: 0;

    padding: 0;

    border: 0;

    font-size: 100%;

    font: inherit;

    vertical-align: baseline;
}

#login_container{
  display: grid;
  height:100%;
  width:100%;
  grid-template-rows:
  [first]100px
  [second]90%;
  grid-template-columns:
  10% 30% 50% 10%;
  grid-template-areas:
  "top top top top"
  "l_blank left right r_blank";
  gap:0px;
  font-family: 'Nanum Gothic', sans-serif;
}

#header{
	/* height: 100px; */
    background-color: #ffcccc;
    /* position: absolute; */
    /* top: 0; */
    line-height: 100px;
    /* left: 0; */
    /* right: 0; */
    grid-area: top;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    grid-row: 1;
    font-family: Montserrat, "sans-serif";
}

#left{
	/*position: absolute; */
    grid-area: left;
    /* top: 50%; */
    /* grid-row: 1/3; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.far{
    position: absolute;
    margin: 2.9% 0 0;
    font-size: 20px;
    right: 7px;
    top: 12px;
}

/* #right{
	grid-area:right;
	grid-row:2/3;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

#join{
	background-color: f8f8f8;
    text-decoration: none;
    margin: 18px 0 0;
    display: block;
    border: 1px solid #ccc;
    color: #ffcccc;
    padding: 16px 17px;
    font-size: 17px;
    line-height: 20px;
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin: 18px 0 0;
    text-align: center;
}

.button{
	margin: 14px 0 0;
}

.login_form{
	width: 100%;
    /* border: 1px solid black; */
    max-width: 350px;
    min-width: 350px;
}

.login{
	margin: 2.9% 0 0;
    width: 100%;
    border: 1px solid #ccc;
    padding: 14px 0 12px;
    font-size: 14px;
    line-height: 20px;
    color: #111;
    font-weight: 700;
    text-indent: 12px;
}

#hr{
	display: block;
    width: 100%;
    height: 0;
    margin: 18px 0 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #ddd;
}

#login{
	background-color: #ffcccc;
    text-decoration: none;
    margin: 18px 0 0;
    display: block;
    border: 1px solid #ccc;
    color: F5f5f5;
    padding: 16px 17px;
    font-size: 17px;
    line-height: 20px;
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin: 18px 0 0;
    text-align: center;
    width:100%;
}
#pw{
	position: relative;
}
.search{
	position:relative;
	float: right;
    padding-top: 8px;
    padding-right: 5px;
    padding-bottom: 10px;
}
#error{
	color: red;
    padding-top: 10px;
    padding-left: 5px;
}
#bar{
    width: 1px;
    height: 10px;
    background-color: #333;
    position: absolute;
    top: 14px;
    left: 73px;
}

#search{
    text-decoration: none;
    color: #333;
    font-size:13px;
    margin:5px;
}

#login_title{
	font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 36px;
}

.right {
	width:100%;
	height:100%;
	margin:0 auto;
	grid-area:right;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* WRAPPER */
.wrap-slider {width:90%;height:80%;max-height:100%; min-height:100%; margin:0 auto;}

img{width: 100%;height: 700px;}
/* SLIDER */
.css-slider {background:#000;box-shadow:3px 3px 15px rgba(0,0,0,0.7);height:700px;width:100%;margin:50px auto;overflow:visible;position:relative;}
.mask {overflow:hidden;height:700px;}
.css-slider ul {margin:0;padding:0;position:relative;}
.css-slider li {width:100%;height:100%;position:absolute;top:0;list-style:none;}
.css-slider li.firstanimation {-moz-animation:cycle 20s linear infinite;-webkit-animation:cycle 20s linear infinite;}
.css-slider li.secondanimation {-moz-animation:cycletwo 20s linear infinite;-webkit-animation:cycletwo 20s linear infinite;}
.css-slider li.thirdanimation {-moz-animation:cyclethree 20s linear infinite;-webkit-animation:cyclethree 20s linear infinite;}
.css-slider li.fourthanimation {-moz-animation:cyclefour 20s linear infinite;-webkit-animation:cyclefour 20s linear infinite;}

/* TOOLTIP */
.css-slider .tooltip {background:rgba(0,0,0,0.7);width:100%;height:60px;position:relative;bottom:75px;left:-800px;-moz-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;}
.css-slider li.first:hover .tooltip, .css-slider li.second:hover .tooltip, .css-slider li.third:hover .tooltip, .css-slider li.fourth:hover .tooltip{left:0px;}
.css-slider:hover li, .css-slider:hover .progress-bar {-moz-animation-play-state:paused;-webkit-animation-play-state:paused;}

/* PROGRESS BAR */
.progress-bar {position:relative;top:-5px;width:800px;height:5px;background:#000;-moz-animation:fullexpand 20s ease-out infinite;-webkit-animation:fullexpand 20s ease-out infinite;}