@charset "UTF-8";
*{
	background-color:#f5f5f5;
	
	margin: 0;

    padding: 0;

    border: 0;

    font-size: 100%;

    font: inherit;

    vertical-align: baseline;
    
    font-family: Montserrat, "sans-serif"; 
}

#login_container{
  display: grid;
  height:100%;
  width:100%;
  grid-template-rows:
  100px 1fr;
  grid-template-columns:
  10% 30% 50% 10%;
  grid-template-areas:
  "top top top top"
  "l_blank left right r_blank";
  min-width:1167px;
  grid-row-gap: 20px;
}

#header{
	/* height: 100px; */
    background-color: #ffcccc;
    /* position: absolute; */
    /* top: 0; */
    line-height: 100px;
    /* left: 0; */
    /* right: 0; */
    grid-area: top;
    text-align: center;
    grid-row: 1;
    box-shadow: 0 0 20px 0 rgba(0,0,0, 0.2);
}

#title{
	color: #51565d;
    font-weight: bold;
    font-size: 350%;
    background-color: #ffcccc;
    font-family: 'Nanum Gothic Coding', monospace;
	letter-spacing:3px;
	text-decoration:none;
	text-shadow: 2px 2px 0 #f5f5f5;
}

#left{
	/*position: absolute; */
    grid-area: left;
    /* top: 50%; */
    /* grid-row: 1/3; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.far{
    position: absolute;
    margin: 2.9% 0 0;
    font-size: 20px;
    right: 7px;
    top: 12px;
}

/* #right{
	grid-area:right;
	grid-row:2/3;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

#join{
	background-color: #f8f8f8;
    text-decoration: none;
    margin: 18px 0 0;
    display: block;
    border: 1px solid #fecdcd;
    color: #fabfbf;
    padding: 16px 17px;
    font-size: 17px;
    line-height: 20px;
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin: 18px 0 0;
    text-align: center;
    border-radius: 3px;
    font-weight: 700;
}

.button{
	margin: 14px 0 0;
}

.login_form{
	width: 100%;
    /* border: 1px solid black; */
    max-width: 350px;
    min-width: 350px;
}

.login{
	margin: 2.9% 0 0;
    width: 100%;
    border: 1px solid #ccc;
    padding: 14px 0 12px;
    font-size: 14px;
    line-height: 20px;
    color: #111;
    font-weight: 600;
    text-indent: 12px;
    border-radius: 3px;
}

#hr{
	display: block;
    width: 100%;
    height: 0;
    margin: 18px 0 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #ddd;
}

#login{
	background-color: #ffcccc;
    text-decoration: none;
    margin: 18px 0 0;
    display: block;
    border: 1px solid #fecdcd;
    color: white;
    padding: 16px 17px;
    font-size: 17px;
    line-height: 20px;
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin: 18px 0 0;
    text-align: center;
    width:100%;
    border-radius: 3px;
    font-weight: 600;
}
#pw{
	position: relative;
}
.search{
	position:relative;
	float: right;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 15px;
}
#error{
	color: red;
    padding-top: 10px;
    padding-left: 5px;
}
#bar{
    width: 1px;
    height: 10px;
    background-color: #333;
    position: absolute;
    top: 8px;
    left: 77px;
}

#search{
    text-decoration: none;
    color: #333;
    font-size:13px;
    margin:5px;
    position:relative;
}

#login_title{
	font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 36px;
}

.right {
	width:100%;
	height:100%;
	margin:0 auto;
	grid-area:right;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel-inner > .carousel-item > img{ width: 100%; height: 100%; }

#demo{
	border:1px solid #ccc;
	box-shadow: 0 0 20px 0 rgba(0,0,0, 0.2);
	width: 100%;
    height: 95%;
}