@charset "UTF-8";

html, body{margin:0; height:100%}

* {
  box-sizing: border-box;
}

.topMenu{
	display:grid;
	grid-template-columns:20% 20% 20% 20% 20%;
	grid-template-rows:80px;
}

.menu{background-color:#123c69;}

.menu > a {color:white;
	text-decoration: none;}

.edit{
	display:grid;
	grid-template-rows: auto repeat(7, 1fr) auto;
	grid-template-columns:auto 800px auto;
	height:calc(100vh-60px);
	width:100%;
}

.editRow{background-color:#353535;
	color:white;
	font-size:150%;}	