<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.AssetOfMemberMapper">


	<select id="selectAssetListById" resultType="assetOfMember">
		select * from member
		join assets_of_member on member.user_key = assets_of_member.user_key
		join assets on assets_of_member.assets_id = assets.assets_id
		where member.user_key = #{userKey};
	</select>

	<select id="getAssetById" resultType="assetOfMember">
		select * from member
		join assets_of_member on member.user_key = assets_of_member.user_key
		join assets on assets_of_member.assets_id = assets.assets_id
		where mem_asset_id = #{memAssetId};
	</select>

	<select id="getLastAssetByUserKey" resultType="assetOfMember">
		select * from assets_of_member where user_key = #{userKey} order by mem_asset_id DESC limit 1;
	</select>

	<insert id="addAsset" parameterType="assetOfMember">
  		insert into assets_of_member (mem_asset_id, user_key, type, amount, assets_id, memo) 
  		values(0, #{userKey}, #{type}, #{amount}, #{assetsId}, #{memo});
	</insert>
	
	<insert id="addAssetToIncome" parameterType="assetOfMember">
  		insert into tp.income (mem_asset_id, income_id, user_key, amount, assets_id, ic_id, memo) 
  		values(#{memAssetId}, 0, #{userKey}, #{amount}, #{assetsId}, 6, #{memo});
	</insert>
	
	<insert id="addAssetToExpense" parameterType="assetOfMember">
  		insert into tp.expense (mem_asset_id, expense_id, user_key, amount, assets_id, ec_id, memo) 
  		values(#{memAssetId}, 0, #{userKey}, #{amount}, #{assetsId}, 12, #{memo});
	</insert>

	<update id="editAsset" parameterType="assetOfMember">
		update assets_of_member set amount=#{amount}, type=#{type}, 
		assets_id=#{assetsId}, memo=#{memo} where mem_asset_id=#{memAssetId};
	</update>

	<delete id="delAsset" parameterType="assetOfMember">
		delete from assets_of_member where mem_asset_id = #{memAssetId};
	</delete>
	
	<delete id="delAssetByuserkeyAll" >
		delete from assets_of_member where user_key=#{userKey}
	</delete>

</mapper>

