<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mapper.BoardMapper">
  	<insert id="regBoard" parameterType="Board">
  		insert into board(user_key,title,content) 
  		values(#{userKey},#{title},#{content});  	
  	</insert>
  	<select id="selectAll" resultType="Board">
  		SELECT board_id, user_id as writer,title,content,reg_date,likes,hits 
  		FROM board as b
		join member as m on b.user_key=m.user_key;
  	</select>
  	<select id="contentOneShow" resultType="Board">
  		SELECT board_id, user_id as writer,title,content,reg_date,likes,hits 
  		FROM board as b
		join member as m on b.user_key=m.user_key 
		where board_id &gt;=#{boardId}-1 and board_id &lt;=#{boardId}+1;
  	</select>
  	<select id="selecOneBoard" resultType="Board">
  		SELECT b.user_key,board_id, user_id as writer,title,content,reg_date,likes,hits 
  		FROM board as b
		join member as m on b.user_key=m.user_key 
		where board_id =#{boardId}
  	</select>
  	<update id="updatehits">
  		update board set hits=hits+1 where board_id=#{boardId}
  	</update>
  	<select id="selectbyBId" resultType="Comment">
  		SELECT c.user_key,comment_id,board_id,user_id,comment,reg_date
  		FROM comment as c
		join member as m on c.user_key=m.user_key 
		where board_id =#{boardId}
  	</select>
  	<update id="writeComment" parameterType="Comment">
  		insert into comment values(0,#{boardId},#{userKey},#{comment},now());
  	</update>
  	<delete id="deleteBoardbyuserkeyAll">
  		delete from board where user_key=#{userKey}
  	</delete>
  	<delete id="deleteCommentbyuserkeyAll">
  		delete from comment where user_key=#{userKey}
  	</delete>  	 	
  </mapper>