<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mapper.BoardMapper">
  	<insert id="regBoard" parameterType="Board">
  		insert into board(user_key,title,content,writer) 
  		values(#{userKey},#{title},#{content},#{writer});  	
  	</insert>
  	<select id="selectAll" resultType="Board">
  		SELECT * from board
  	</select>
  	<select id="contentOneShow" resultType="Board">
  		SELECT board_id, user_id as writer,title,content,reg_date,likes,hits 
  		FROM board as b
		join member as m on b.user_key=m.user_key 
		where board_id &gt;=#{boardId}-1 and board_id &lt;=#{boardId}+1;
  	</select>
  	<select id="selecOneBoard" resultType="Board">
  		SELECT * from board 
		where board_id =#{boardId}
  	</select>
  	<select id="getbeforeBoard" resultType="Board">
  		SELECT * from board 
		where board_id &lt;#{boardId} order by board_id desc limit 1
  	</select>
  	<select id="getnextBoard" resultType="Board">
  		SELECT * from board 
		where board_id &gt;#{boardId} limit 1
  	</select>
  	<select id="getBoardTotalCnt" resultType="int">
  		select count(*) from board 
  	</select>
  	<select id="getBoardListPerPage" resultType="Board">
  		select * from board order by board_id desc 
  		limit #{firstRow}, #{boardCntPerPage}
  	</select>
  	<update id="updatehits">
  		update board set hits=hits+1 where board_id=#{boardId}
  	</update>
  	<update id="updateincreaseBoardCommentCount">
  		update board set comment_count=comment_count+1 where board_id=#{boardId}
  	</update>
  	<update id="updatedecreaseBoardCommentCount">
  		update board set comment_count=comment_count-1 where board_id=#{boardId}
  	</update>
  	<select id="selectbyBId" resultType="Comment">
  		SELECT * from comment 
		where board_id =#{boardId}
  	</select>
  	
  	<update id="writeComment" parameterType="Comment">
  		insert into comment values(0,#{boardId},#{userKey},#{comment},now(),#{commentWriter});
  	</update>
  	<delete id="deleteBoardbyuserkeyAll">
  		delete from board where user_key=#{userKey}
  	</delete>
  	<delete id="deleteCommentbyuserkeyAll">
  		delete from comment where user_key=#{userKey}
  	</delete>  	
  	<update id="updateComment" parameterType="Comment">
  		update comment set comment=#{comment} where comment_id=#{commentId}
  	</update>
  	<delete id="deleteComment">
  		delete from comment where comment_id=#{commentId}
  	</delete> 
  	<update id="increaseBoardlike">
  		update board set likes=likes+1 where board_id=#{boardId}
  	</update> 
  	<insert id="regLikebyUIdBId">
  		insert into boardlikes values(#{boardId},#{userKey})
  	</insert>
  	<select id="getlikeNum" resultType="int">
  		select likes from board where board_id=#{boardId}
  	</select>	 	
  	<select id="checklikeByUIdBId" resultType="int">
  		select count(*) from boardlikes 
  		where board_id=#{boardId} and user_key=#{userKey}
  	</select>
  	<update id="decreaseBoardlike">
  		update board set likes=likes-1 where board_id=#{boardId}
  	</update> 	 	
  	<delete id="cancelLikeByUIdBId">
  		delete from boardlikes
  		where board_id=#{boardId} and user_key=#{userKey}
  	</delete> 	 	
  </mapper>