<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="mapper.JoinMapper">
  	<insert id="insertMember" parameterType="Member">
  		insert into member(user_id, password, name, email) values(#{userId}, #{password}, #{name}, #{email})
  	</insert>
  	
  	<select id="selectById" resultType="Member">
  		select * from member where user_id=#{userId}
  	</select>
  </mapper>
